body {
    font-family: 'Lato', sans-serif;
    background: url('Background.jpg') no-repeat center center / cover;
    
}

.list-unstyled{
    color: rgba(38, 79, 100, 0.616);
}

.container {
margin-top: 10%;
}
.progress {
    height: 10px;
}
.control-label {
    text-align: left !important;
    padding-bottom: 7px;
}
.form-horizontal {
    background: rgba(175, 203, 216, 0.616);
    padding: 25px 20px;
    border: 2px solid #e8eaed;
    border-radius: 5px;
}
.fa-times {
    color: rgb(128, 3, 3);
}

.h1{
    text-align: center;
    color:#195385;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 2px rgba(175, 203, 216, 0.616);
}


a:link, a:visited {
  font-weight: bold;
  color: #25017a;
  padding: 4px 5px;
  text-align: center;
  display: inline-block;
  text-decoration: underline;
 
  
}

a:hover, a:active {
  color: #1006da;
  cursor: pointer;

}

.active{
color:#204d74;
font-size: 20px;
text-align: center;
font-style: italic;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-shadow: 1px 2px rgba(207, 218, 223, 0.616);
padding-top: 20px;

}

#pswd_info {
    position:absolute;
    bottom:-50px;
    bottom: -115px\9; /* IE Specific */
    right:15px;
    width:250px;
    padding:15px;
    background: rgba(175, 203, 216, 0.616);
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
#pswd_info {
    display:none;
}